{% if product.metafields.custom.authorized_seller == true %}
  <div class="authorized-seller-badge flex-row__all-center gap-1r font-mserrat color__dark-blue-txt font-wght__bold-standard h5-normal margin-bottom__thicker mg-top__thicker-plus">
    <span class="material-symbols-outlined text-base notranslate">verified</span>
    Authorized Crucial/Micron Partner
  </div>
{% endif %}
