<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
   <div id="alt-nav__all-wrapper" class="flex-row__all-center">
        <a href="#shopify-section-sections--25149438460242__main_carousel_YJ6X6c" id="move-to-top" title="Scroll to top" aria-label="Scroll the view to the top of the Page">Move to top</a>
        <div class="flex-column__all-center gap-sm">
          
          <div id="shop-klarna__wrapper-mobile" class="flex-row__all-center">
<p class="p-large">Buy now, Pay later</p>
<img src = "https://cdn.shopify.com/s/files/1/0795/4854/7410/files/buy_now_pay_later_with_klarna.svg?v=1721724941" alt="Shop with klarna" width="75" height="auto"/>
<img class="margin-left__mini" src = "https://cdn.shopify.com/s/files/1/0795/4854/7410/files/google_pay.svg?v=1722537582" alt="Pay with google" width="50" height="auto"/></div>
<div class="stripe-trustbar stripe-trustbar--mobile flex-row__all-center font-mserrat color__dark-blue-txt gap-1r" style="font-size: 0.95rem;">
  <strong><span class="ltr-spacing__inline">3D Secure</span></strong><span>Powered by Stripe</span>
</div>
        </div>


        <nav id="alt-navbar__container" class="flex-row__align-end gap-5r">

<section class="flex-column__align-start">
<ul id="first-alt-navbar__wrapper" class="pos-rel flex-row__all-center gap-4-5r">  
<li class="nav-special-item__desktop" id="first-alt-navbar__item"> 
                  <a class="alt-nav-links"
href="/collections/new-arrivals#shopify-section-sections--24148577222994__announcement_bar_HgHnem" title="Shop Newcomers & Arrivals" aria-label="Discover our Latest Releases & Arrivals"> 
                      New Arrivals
                      
                  </a>
              </li>       
              <li> 
                  <a class="alt-nav-links"
href="/collections/bestsellers-customers-choice#shopify-section-sections--24148577222994__announcement_bar_HgHnem" title="Shop Bestsellers & Customer Favorites" aria-label="Explore our bestselling products and customer favorites"> 
                      <div class="hot">Hot</div> Picks
                      
                  </a>
              </li>
<li> 
                  <a class="alt-nav-links"
href="/collections/top-picks" title="Shop Top Picks – Highest-Rated Customer Favorites" aria-label="Navigate to Top Picks collection featuring top-rated, customer-recommended products"> 
                      <div class="top">Top</div> Performers
                      
                  </a>
              </li>     
                         
              <li> 
                  <a class="alt-nav-links" href="/blogs/tech-news" title="Product News, Updates, and Releases" aria-label="Read about our latest product news & updates"> 
                      News
                  </a>
              </li>   
              <li> 
                  <a class="alt-nav-links" href="#smile-home" title="Rewards Program – Earn points, unlock discounts, & exclusive offers." aria-label="Join our rewards program to earn points and unlock discounts."> 
                      Rewards Program
                  </a>
              </li>
              <li class="nav-special-item__desktop" id="last-alt-navbar__item"> 
                <a class="alt-nav-links" href="/blogs/expert-reviews-technical-articles-insights-on-electronics-pc-hardware-more" title="In-depth technical articles and insights on electronics, PC hardware & software" aria-label="In-depth technical articles and insights on electronics, PC hardware & software"> 
                    Insights
                </a>
            </li>
            <li id="huge-sale__alt-nav-ico" class="margin-left__mini-plus flex-column__all-center margin-right__thick">
<a href="/collections/winteks-huge-sale" class="margin-left__mini" title="Shop Huge Sale & Special Offers – Big Discounts on Top Products" aria-label="Explore exclusive discounts and special offers on top products">
                
                  <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Huge-Sale-tp-optimized.png?v=1732575698" alt="Red ambient circle displaying products on Huge Sale" width="43" height="auto"></a>
  
<li id="seasonal-nav__wrapper" class="margin-top__narrow flex-column__all-center"> 
                  <div id="seasonal-link__opener" class="alt-nav-links font-wght__bold-regular font-mserrat h5-normal ltr-spacing__inline--xtr" title="Explore Seasonal Deals & Offers" aria-label="Explore Seasonal Deals & Offers"> 
                     Season <span class="material-symbols-outlined margin-left__micro notranslate">
keyboard_arrow_down
</span>
                  </div>

<ul id="seasonal-drop__wdw" class="flex-column__all-center">
<li>
<h3 class="display-none h5-normal margin-bottom__none">Season exclusive</h3>
</li>
<li>
<a href="/collections/spring-into-season" class="font-contrail h4-normal color__blue w3-bar-item w3-button" title="Shop Spring Deals Now" aria-label="Explore Spring Deals at Swiftwintek">Super Spring Sale</a>
</li>
</ul>
              </li>
              </li> 
            </ul>
<div id="klarna-google__pay-wrap" class="flex-row__all-center gap-3r margin-top__medium">
  <!-- Klarna -->
  <div class="flex-row__all-center gap-sm">
    <p class="p-large">Buy now, pay later.</p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/buy_now_pay_later_with_klarna.svg?v=1721724941"
      width="60"
      height="auto"
      alt="Klarna pink rectangle box"
      loading="lazy">
  </div>

  <!-- Google Pay -->
  <img
    src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/google_pay.svg?v=1722537582"
    width="50"
    height="auto"
    alt="Google Pay icon & text"
    loading="lazy">

    <img
  src="{{ 'affirm-pay-over-time.svg' | file_url }}"
  alt="Pay over time with Affirm"
  class="affirm-badge"
/>

</div>
</section>
            
            <section id="alt-nav__right-wrapper" class="flex-row__all-center margin-bottom__thick margin-top__micro" style="margin: 0;">
              <div class="flex-row__all-center">
              <div class="shopping-cart__outer-wrapper">
<div class="margin-right__normal thin-lgrey__border-left" style="padding-left: 5rem;">

<button class="margin-bottom__narrow btn-inline padding-left__thick-plus padding-right__thicker h4-normal ltr-spacing__inline" onclick="window.location.href='https://swiftwintekstore.com/account/login';" title="Login / My Account – Access Your Profile and Order History" aria-label="Login to your account or view your profile and order history.">
<span id="sign-in__google-material-symb" class="material-symbols-outlined margin-right__mini notranslate">
person
</span>Login / Account
</button>
<div class="margin-bottom__medium" id="shopify-block-ARHEvdXUzdmJMRm1Ye__shop_shop_login_button_app_block_PEDcHp" class="shopify-block shopify-app-block">
  <script defer="defer" async="" type="module" src="//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/client.shop-login-button_jwmCktJd.en.esm.js"></script>
<script defer="defer" async="" type="module" src="//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/chunk.common_CtKaQscI.esm.js"></script>
<script defer="defer" async="" type="module" src="//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/chunk.modal_sYd6knDY.esm.js"></script>
<script type="module">
  await import("//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/client.shop-login-button_jwmCktJd.en.esm.js");
await import("//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/chunk.common_CtKaQscI.esm.js");
await import("//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/chunk.modal_sYd6knDY.esm.js");

  
</script>

<shop-login-button ux-mode="windoid" return-uri="https://swiftwintekstore.com/account/redirect" source="app_block" persist-after-sign-in="false" proxy="true" redirect-type="iframe" response-type="code" data-instance-id="edaaa8ea-afb1-4195-acc7-9b04f32afa50"></shop-login-button>




</div>
 <a class="flex-row__all-center" href="/cart" id="shopping-cart__wrapper" title="My Cart – Review & Checkout Your Items" aria-label="View your shopping cart and proceed to checkout"> 
                  <i class="color__orange-red fa-sharp fa-solid fa-cart-shopping fa-mg-right--md"></i>
                  <div class="margin-left__micro">My Cart</div>
                </a>
</div>
               
              </div> 
              <div id="contact-us__outer-wrapper" style="margin-right: 5rem; margin-left: 3rem;">
                <a id="contact-us__link-wrapper" class="flex-row__all-center md-lgrey__border-box border-radius__strong box-padding__contact-us-temp" href="/pages/contact-us-expert-pc-hardware-components-support" title="Contact Us – Get in Touch with Our Team" aria-label="Visit our Contact Us page to reach out for support or inquiries">
<i class="fa fa-envelope" style="font-size: 1.75rem; color: #007bff; margin-right: 1.25rem;"></i>      
                <span class="font-mserrat color__dark-blue-txt font-wght__medium">Contact Us</span>
              </a>
              </div>
               <div style="margin: 0;">
                <a class="flex-row__all-center thin-lgrey__border-left font-mserrat pd-left__narrow-plus" href="https://play.google.com/store/apps/details?id=com.shopify.arrive&pli=1" target="_blank" rel="noopener noreferrer" title="Visit Swiftwintek at Shop" aria-label="Visit Swiftwintek at Shop">
                <img id="shop-app__ico" src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/shop-app_blue.jpg?v=1723016244" alt="Shop App logo displayed in a bold purple color" width="125" height="auto"/>

              </a>

              </div>
</div>
          </section>
        </nav>
      </div>

      <!-- Collapsible sidebar -->
      <div id="collaps-side__wrapper">
        <div class="header__box-shadow thin-steelgr__border-right w3-sidebar w3-bar-block w3-collapse w3-card thin-white__border-box" id="mySidebar">

<div id="collaps-side__top-section">
<div class="wrapper-base__template-column-all-left">
<span class="material-symbols-outlined md-34 w3-bar-item w3-button w3-hide-large notranslate" onclick="w3_close()">
                    close
                </span>
<a href="/collections/new-arrivals" class="w3-bar-item w3-button" title="Shop Newcomers & Arrivals" aria-label="Discover our Latest Releases & Arrivals">
<div class="wrapper-base__template-just-start">
  <span class="material-symbols-outlined md-48 notranslate padding-left__none" style="padding-top: 0; padding-bottom: 0; padding-left: 0;">
new_releases
</span>
<span class="padding-left__narrow-plus font-contrail h2-extra-plus color__dark-blue-txt">New Arrivals</span>
</div></a>
<div class="padding-top__narrow margin-top__micro-xs margin-bottom__micro-xs wrapper-base__template-column-all-left thin-steelgr__border-top thin-steelgr__border-bottom">
<a id="bestsellers__nav-side" href="/collections/bestsellers-customers-choice" class="w3-bar-item w3-button h2-extra font-mserrat font-wght__bold color__dark-blue-txt" title="Shop Bestsellers & Customer Favorites" aria-label="Explore our bestselling products and customer favorites"><i class="fa-solid fa-fire"></i> <div class="hot">Hot</div> Picks</a>
  <a id="top-picks__nav-side"
href="/collections/top-picks" title="Shop Top Picks – Highest-Rated Customer Favorites" aria-label="Navigate to Top Picks collection featuring top-rated, customer-recommended products" class="w3-bar-item w3-button h2-normal font-mserrat font-wght__thin-plus color__dark-blue-txt"> 
                      <div class="top">Top</div> Performers
                  </a>
            <a href="/blogs/tech-news" class="w3-bar-item w3-button text-general__mobile-drawer font-wght__thin-plus h2-normal" title="Product News, Updates & Releases" aria-label="Read about our latest product news, updates & releases">News</a>
            <a href="/pages/wishlist" class="w3-bar-item w3-button text-general__mobile-drawer h2-normal" title="My Wishlist" aria-label="goto: My Wishlist"><i class="fa-solid fa-heart"></i> 
 Wishlist</a>
            <a id="reward-pgm__nav-side" href="#smile-home" class="w3-bar-item w3-button text-general__mobile-drawer h2-normal" style="padding-bottom: 3rem;" title="Rewards Program – Earn points, unlock discounts, &amp; exclusive offers." aria-label="Join our rewards program to earn points and unlock discounts."><i class="fa-solid fa-trophy"></i> Rewards Program</a>
</div>
            
            <a href="/blogs/swtek-tips" class="wrapper-base__template-just-start w3-bar-item w3-button padding-top__medium-plus" id="swtek-tips__mobile-item" title="In-depth technical articles and insights on electronics, PC hardware & software" aria-label="In-depth technical articles and insights on electronics, PC hardware & software"><span class="font-contrail h2-normal">Insights</span> <span class="material-symbols-outlined notranslate">
rule_settings
</span></a>
<a href="/collections/editors-choice" title="Editor's Choice: Top Tech Picks" aria-label="Explore Editor's Choice collection of top-rated tech products handpicked for you" class="shop-discover__list-label wrapper-base__template-center border-radius__normal" style="border-left: 3px solid #f3f3f3; margin-right: 0; padding-left: 3rem; padding-right: 3rem;">
                        <h3 class="font-mserrat font-wght__bold h2-normal color__dark-blue-txt">
                            <span class="color__blue">Editor's</span> <span style="font-weight: 300;">Choice</span>
                        </h3>
                       <span class="material-symbols-outlined notranslate color__dark-blue-txt" style="font-size: 32px; font-weight: 900; padding-right: 0;" role="button" aria-label="Editor's Choice: Featured Tech Picks">
                            editor_choice
</span>                          
</a>
</div>
</div>
            
            <div id="collaps-side__bottom-section">
                <li class="special-alt-menu__item">
                    <a href="/collections/winteks-huge-sale" title="Shop Wintek's Huge Sale Collection" aria-label="Shop Wintek's Huge Sale Collection">
                      <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Huge-Sale-tp-optimized.png?v=1732575698" alt="Ambient red circle displaying products on Huge Sale" width="60px"> </a>
                  </li>
                   <li id="sign-in-cart__wrapper-alt" class="shopping-cart__outer-wrapper margin-bottom__micro">
<div>
<div class="flex-column__all-center">
<a href="https://swiftwintekstore.com/account/login" title="Login / My Account - Access Your Profile and Order History" aria-label="Login to your account or view your profile and order history" class="margin-bottom__medium">
<button class="btn-inline color__white-txt h4-normal padding-left__thick-plus padding-right__thicker padding-top__narrow padding-bottom__narrow">
<div class="wrapper-base__template-just-start">
<span id="sign-in__google-material-symb" class="material-symbols-outlined margin-right__micro notranslate">
person
</span> <span class="font-wght__bold-regular">Login / Account</span>
</div>
</button></a>
  <a href="/pages/track-your-order#shopify-section-sections--25149438460242__announcement_bar_E6VNaJ" class="track-order__btn track-order__btn--mobile border-radius__strongest" style="padding: .75rem 8rem;" title="Track your Swiftwintek order status and delivery" aria-label="Track your Swiftwintek order status and delivery using your tracking number">
   Track your Order
</a>
  </div>
<div id="shopify-block-ARHEvdXUzdmJMRm1Ye__shop_shop_login_button_app_block_PEDcHp" class="margin-top__narrow shopify-block shopify-app-block">
  <script defer="defer" async="" type="module" src="//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/client.shop-login-button_jwmCktJd.en.esm.js"></script>
<script defer="defer" async="" type="module" src="//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/chunk.common_CtKaQscI.esm.js"></script>
<script defer="defer" async="" type="module" src="//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/chunk.modal_sYd6knDY.esm.js"></script>
<script type="module">
  await import("//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/client.shop-login-button_jwmCktJd.en.esm.js");
await import("//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/chunk.common_CtKaQscI.esm.js");
await import("//swiftwintekstore.com/cdn/shopifycloud/shop-js/modules/v2/chunk.modal_sYd6knDY.esm.js");

  
</script>

<shop-login-button ux-mode="windoid" return-uri="https://swiftwintekstore.com/account/redirect" source="app_block" persist-after-sign-in="false" proxy="true" redirect-type="iframe" response-type="code" data-instance-id="edaaa8ea-afb1-4195-acc7-9b04f32afa50"></shop-login-button>




</div>
 <a class="wrapper-base__template-center" href="/cart" id="shopping-cart__wrapper" title="My Shopping Cart" aria-label="View your shopping cart and proceed to checkout."> 
                  <i class="fa-mg-right--md fa-sharp fa-solid fa-cart-shopping color__orange-red"></i>
                  <div class="margin-left__micro h4-xtra">My Cart</div>
                </a>
</div>
               
              </li> 
               <li id="contact-us__outer-wrapper">
                <a id="contact-us__link-wrapper" style="padding: .6rem 2rem;" class="wrapper-base__template-center thin-lgrey__border-box border-radius__strong box-padding__contact-us-temp" href="/pages/contact-us-expert-pc-hardware-components-support" title="Contact Us – Get in Touch with Our Team" aria-label="Visit our Contact Us page to reach out for support or inquiries">
<i class="fa fa-envelope" style="font-size: 1.75rem; color: #007bff; margin-right: 1.25rem;"></i>      
                <span class="font-mserrat color__dark-blue-txt font-wght__medium">Contact Us</span>
              </a>
              </li>
                  <li class="shopping-cart__outer-wrapper">
                    <a id="shop-app__wrapper" href="https://play.google.com/store/apps/details?id=com.shopify.arrive&pli=1" target="_blank" rel="noopener noreferrer" title="Visit Swiftwintek at Shop" aria-label="Visit Swiftwintek at Shop">
                    <img id="shop-app__ico" src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/shop-app_blue.jpg?v=1723016244" alt="Large purple text - Shop App" width="125px" />
                    </a>
                  </li>
            </div>
        </div>
        <div class="w3-main" >
          
            <div id="hburger-side__opener-wrapper" class="w3-teal">
                <span class="material-symbols-outlined md-48 w3-button w3-teal w3-xlarge notranslate" onclick="w3_open()">
                    menu
                </span>
            </div>
        </div>
    </div> 
</body>
</html>
{% schema %}
{
  "name": "Alt Navigation + Sidebar",
  "tag": "section",
  "class": "alt-nav-sidebar-wrapper",
  "settings": [],
  "presets": [
    {
      "name": "Alt Nav + Sidebar"
    }
  ]
}
{% endschema %}
