<section id="data-tech__compnts-catg-wrap" class="wrapper-base__template-align-start">
  <div>
    <h2 class="color__dark-blue-categry-hdr margin-top__thicker font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest">
      Tech & Office Essentials
    </h2>

    <nav aria-label="Tech & Office Essentials Categories">
      <ul id="data-tech-category__wrapper" class="wrapper-base__template-column-all-left margin-right__thick category-row">
        <li>
          <a href="/collections/category-tech-office-essentials-ram-memory-modules#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Shop DRAM & Memory Modules - High-Performance & Reliable"
            aria-label="Browse DRAM & Memory Modules"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Memory_DRAM_Category.webp?v=1725432291"
              alt="Category DRAM & Memory Modules" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">DRAM & Memory Modules</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-hard-drives-ssds#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Buy Hard Drives & SSDs - Fast & Reliable Storage Solutions"
            aria-label="Explore Hard Drives & SSDs"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Hard_Drives_Category.webp?v=1725432419"
              alt="Category Hard Drives & SSDs" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Hard Drives & SSDs</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-keyboards#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Find Keyboards - Mechanical, Wireless & Ergonomic"
            aria-label="Browse Keyboards - Mechanical, Wireless & Ergonomic"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Upgrade_Your_Typing_Experience_with_UGREEN_Wireless_Keyboard.webp?v=1722454317" alt="Category Keyboards" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Keyboards</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-mice-mousepads#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Shop Mice & Mousepads - Precision & Comfort for Every User"
            aria-label="Explore Mice & Mousepads"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/ugreen_wireless_mouse_10m_range_dual_mode_5g.webp?v=1714081288" alt="Category Mice & Mousepads" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Mice & Mousepads</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-hubs-switches#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Discover Hubs & Switches - Expand Your Connectivity"
            aria-label="Browse Hubs & Switches"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Hubs_Switches.webp?v=1725434407" alt="Category Hubs & Switches" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Hubs & Switches</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-flash-memory-cards#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Find Flash Memory Cards - Compact, High-Speed Storage"
            aria-label="Explore Flash Memory Cards"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Ultra-microsd-128GB-32GB-64GB-256GB-512GB-A1-Micro-SD-Card-SD-TF-Flash-Card-Memory_3c82e5f7-efd9-445f-ac28-c51cf2844e47.webp?v=1733483201" alt="Category Flash Memory Cards" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Flash Memory Cards</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-memory-card-readers#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Shop Memory Card Readers - Fast & Efficient Data Transfer"
            aria-label="Browse Memory Card Readers"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Memory_Card_Readers.webp?v=1725433906" alt="Category Memory Card Readers" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Memory Card Readers</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-storage-data-transfer-cables#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Shop Storage & Data Transfer Cables - High-Speed & Reliable"
            aria-label="Browse Storage & Data Transfer Cables"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Storage_Data_Transfer_Cables.webp?v=1725433114"
              alt="Category Storage & Data Transfer Cables" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Storage & Data Transfer Cables</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-external-hard-drives#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Buy External Hard Drives - Secure & High Capacity"
            aria-label="Explore External Hard Drives - Secure & High Capacity"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/External_Hard_Drives_Category.webp?v=1725432504" alt="Category External Hard Drives" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">External Hard Drives</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-power-adapters-chargers#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Find Power Adapters & Chargers - Universal & Fast Charging"
            aria-label="Browse Power Adapters & Chargers"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Power_Adapters_Chargers.webp?v=1725433296" alt="Category Power Adapters & Chargers" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Power Adapters & Chargers</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-pc-signal-splitters-converters#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Shop PC Signal Splitters & Converters - Efficient & High-Quality"
            aria-label="Explore PC Signal Splitters & Converters"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Splitter_Converters.webp?v=1725434045" alt="Category PC Signal Splitters & Converters" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">PC Signal Splitters & Converters</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-tablet-computers-accessories#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Discover Tablet Computers & Accessories - Latest Models & Gadgets"
            aria-label="Browse Tablet Computers & Accessories"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Tablet_Computers.webp?v=1725434181"
              alt="Category Tablet Computers & Accessories" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Tablet Computers & Accessories</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-graphics-tablets-drawing-pads#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Find Graphics Tablets & Drawing Pads - Perfect for Creatives"
            aria-label="Explore Graphics Tablets & Drawing Pads"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Graphics_Tablets.webp?v=1725434353"
              alt="Category Graphics Tablets & Drawing Pads" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Graphics Tablets & Drawing Pads</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-hard-drive-enclosures-mounts#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Shop Hard Drive Enclosures & Mounts - Secure & Durable"
            aria-label="Browse Hard Drive Enclosures & Mounts"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thicker border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Hard_Drive_Enclosures_Mounts_Category.webp?v=1725432625" alt="Category Hard Drive Enclosures & Mounts" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Hard Drive Enclosures & Mounts</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-laptop-protection-covers#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Discover Laptop Protection & Covers - Stylish & Durable"
            aria-label="Explore Laptop Protection & Covers"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thicker border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/16-in-1-universal-laptop-dust-plug-usb-hdmi-audio-sd-vga-type-c-swiftwintek-141016pcs-red200007763201336100-206766.webp?v=1732574181" alt="Category Laptop Protection & Covers" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Laptop Protection & Covers</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="/collections/category-tech-office-essentials-usb-flash-drives#shopify-section-sections--24148577222994__announcement_bar_dJJkcg" title="Shop USB Flash Drives – Fast & Secure Storage"
            aria-label="USB Flash Drives Collection – High-Speed and Reliable Storage Solutions"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thicker border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Sde03cfadffdb4ddb93635e340fdeb575U.webp?v=1740593472" alt="Various USB Flash Drives – Portable, High-Speed Storage Devices" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">USB Flash Drives</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div>
    <h2 class="margin-right__mini-plus color__dark-blue-categry-hdr margin-top__thicker font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest">
      PC Components, Custom Parts & DIY
    </h2>

    <nav aria-label="PC Components, Custom Parts & DIY Categories">
      <ul id="data-tech-category__wrapper--pc" class="wrapper-base__template-column-all-left category-row">
        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-interface-cards-adapters#MainContent" title="Interface Cards & Adapters for PC Customization" aria-label="Interface Cards & Adapters for PC Customization" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Interface_Cards_Adapters.webp?v=1725446093" alt="Interface Cards & Adapters for PC Customization" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Interface Cards & Adapters</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-graphics-card#MainContent" title="High-Performance Graphics Cards for Gaming & PCs" aria-label="Discover High-Performance Graphics Cards for Gaming & PCs" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Graphics_Card.jpg?v=1727818455" alt="High-Performance Graphics Cards for Gaming & PCs" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Graphics Cards</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-controller-cards-circuitboards#MainContent" title="Controller Cards & Circuitboards for PC Customization" aria-label="Controller Cards & Circuitboards for PC Customization" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Controller_Cards_Circuitboards.webp?v=1725446183" alt="Controller Cards & Circuitboards for PC Customization" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Controller Cards & Circuitboards</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-support-bracket#MainContent" title="PC Support Brackets for Custom Builds" aria-label="PC Support Brackets for Custom Builds" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Support_Bracket.webp?v=1725446500" alt="PC Support Brackets for Custom Builds" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Support Brackets</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-computer-system-cooling-parts#MainContent" title="Computer System Cooling Parts for Optimal PC Performance" aria-label="Explore Computer System Cooling Parts for Optimal PC Performance" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Computer_System_Cooling_Parts.webp?v=1725446735" alt="Computer System Cooling Parts for Optimal PC Performance" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Computer System Cooling Parts</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-riser-cards#MainContent" title="Riser Cards for Custom PC Builds & Mining" aria-label="Riser Cards for Custom PC Builds & Mining" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Riser_Cards.webp?v=1725446903" alt="Riser Cards for Custom PC Builds & Mining" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Riser Cards</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-psu#MainContent" title="Power Supply Units (PSU) for Custom PCs" aria-label="Power Supply Units (PSU) for Custom PCs" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Sf76c1d36d2f54c169bbd9fe7426e2889M_a5504284-adf1-4019-b123-7e6bb3d1a2fb.webp?v=1726965826" alt="Power Supply Units (PSU) for Custom PCs" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Power Supply Units (PSU)</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-case-chassis#MainContent" title="PC Cases & Chassis for Custom Builds" aria-label="Explore PC Cases & Chassis for Custom Builds" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/A09_3.8L_ITX_Chassis_A4_HTPC_Computer_Case.webp?v=1727100992" alt="PC Cases & Chassis for Custom Builds" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">PC Cases & Chassis</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-motherboard#MainContent" title="Motherboards for Custom PCs & Gaming Systems" aria-label="Explore Motherboards for Custom PCs & Gaming Systems" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Gigabyte_B560M_AORUS_PRO_AX_Motherboard-f661-4bc2-8a90-b01392da979d.webp?v=1727101318" alt="Motherboards for Custom PCs & Gaming Systems" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">Motherboards</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-hard-drive-array-cards#MainContent" title="RAID & Storage Systems – Shop High-Performance Data Storage Solutions" aria-label="RAID and storage systems category – Explore advanced storage solutions for data management" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/RAID_Storage_Systems_thumb_a5d2161b-5260-4f1a-b00a-967847dd8759.webp?v=1740607759" alt="RAID & Storage Systems – Shop High-Performance Data Storage Solutions" width="70px" loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">RAID & Storage Systems</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>

        <li>
          <a href="https://swiftwintekstore.com/collections/category-pc-components-custom-parts-diy-diy-installation#MainContent"
            title="DIY PC Assembly & Installation Tools - Custom Parts and Tools for PC Builders"
            aria-label="Explore DIY PC Assembly & Installation Tools for Custom PC Builds"
            class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thicker border-radius__strongest">
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/DIY_Installation_case_rack.webp?v=1727102967"
              alt="DIY PC Assembly & Installation Tools - PC building tools and installation equipment"
              width="70px"
              loading="lazy">
            <h3 class="margin-right__thick margin-left__thick">DIY PC Assembly & Installation Tools</h3>
            <span class="material-symbols-outlined color__dark-blue-txt notranslate">keyboard_arrow_right</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<section id="shop-by-category__wrapper-misc-section" class="wrapper-base__template-column-all-left margin-top__thicker padding-right__extreme padding-left__extreme">
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Household & Kitchen Appliances
            </h2>
            <nav aria-label="Household & Kitchen Appliances Categories">
                <ul class="wrapper-base__template-column-all-left category-row box__padding-none">
                    <li>
                        <a href="/collections/category-household-kitchen-appliances-air-fryers-healthy-cooking#MainContent" title="Shop Air Fryers & Healthy Cooking Appliances" 
                           aria-label="Explore Air Fryers & Healthy Cooking Appliances for a healthier lifestyle" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S14f372bfbb104f408076e061f448ddb9z.webp?v=1741714496" alt="Compact air fryer cooking crispy fries" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Air Fryers & Healthy Cooking
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-household-kitchen-appliances-coffee-makers-espresso-machines#MainContent" title="Browse Coffee Makers & Espresso Machines" 
                           aria-label="Find the perfect Coffee Maker or Espresso Machine for your morning brew" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S0fbcb4bcd4dc45cb923ae069840203e2p.webp?v=1740633034" alt="Modern coffee maker brewing fresh coffee" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Coffee Makers & Espresso Machines
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-household-kitchen-appliances-coffee-spice-grinders#MainContent" title="Shop Coffee & Spice Grinders" 
                           aria-label="Discover Coffee & Spice Grinders for fresh and flavorful grinding" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S0e6ebb59075747d096af4a187e249c7f0.webp?v=1741432425" alt="Electric spice grinder with ground coffee" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Coffee & Spice Grinders
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-household-kitchen-appliances-milk-frothers-steamers#MainContent" title="Discover Milk Frothers & Steamers" 
                           aria-label="Create barista-style lattes with our Milk Frothers & Steamers" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Scef5abcb4a5f4ccc879c78e90b86b27dw.webp?v=1741445953" alt="Handheld milk frother creating creamy foam" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Milk Frothers & Steamers
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>             
                    <li>
                        <a href="/collections/category-household-kitchen-appliances-air-conditioners-smart-climate-control-solutions#MainContent" title="Shop Energy-Efficient Air Conditioners & Smart Climate Control Solutions" 
                           aria-label="Find high-performance Air Conditioners for efficient cooling" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/air_conditioner_pro_breeze_thumbnail.webp?v=1741786115" alt="Modern wall-mounted air conditioner cooling a room" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Air Conditioners & Smart Climate Control Solutions
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                </ul>
            </nav> 
<h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Office & Gaming Furniture
            </h2>
<nav aria-label="Office Furniture Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-office-furniture-ergonomic-office-gaming-desks" title="Shop Ergonomic Office & Gaming Desks for ultimate workflow" aria-label="Explore Office & Gaming Desks for ultimate workflow" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/s-l500_71ffa419-b667-43a1-8e93-0e6e48f6e661.png?v=1745976512" alt="Sleek brown wooden ergonomic office and gaming desk with modern design, ideal for home office setups and immersive gaming environments." width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">                               Ergonomic Office & Gaming Desks                          </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-office-furniture-ergonomic-office-chairs-desk-seating" title="Shop Ergonomic Office Chairs & Desk Seating – Comfortable & Adjustable Solutions" aria-label="Browse ergonomic office chairs and desk seating for better posture and comfort" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/s-l500_3aeaed8b-e34c-40cc-a77c-20d3c4b15a3a.jpg?v=1746041819" alt="Modern ergonomic office chair with lumbar support and adjustable features, perfect for work-from-home and professional setups" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">                             Ergonomic Office Chairs & Desk Seating                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
<li>
                        <a href="/collections/category-office-gaming-furniture-gaming-chairs" title="Explore Gaming Chairs – Ergonomic Racing-Style Seats for Ultimate Comfort" aria-label="Browse high-performance gaming chairs with ergonomic support and racing-inspired design" class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/s-l500_63bfbbde-0a2b-497d-b3f5-791ffa5fe03a.jpg?v=1746065176" alt="Leather gaming chair with blue stripes and a racing-style design, offering ergonomic support for long gaming sessions" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">                             Gaming Chairs                          </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
<h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Gaming & Collectibles
            </h2>
<nav aria-label="Gaming & Collectibles Categories">
                <ul class="wrapper-base__template-column-all-left category-row"><li>
                        <a href="/collections/category-gaming-collectibles-warhammer-tabletop-board-games" title="Explore Warhammer & Tabletop Board Games – Collectibles, Miniatures, and More!" aria-label="Link to Warhammer & Tabletop Board Games category – View collectible miniatures and board games." class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/s-l500_d764918b-855b-4ffb-9866-d14d0765130a.jpg?v=1743555637" alt="Terrifying monster creature from the world of Dungeons & Dragons" width="90px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
Warhammer & Tabletop Board Games                                                   </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>  
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Cable Management & Organizing
            </h2>
            <nav aria-label="Cable Management & Organizing Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-cable-management-organizing-cable-clips-organizers#MainContent" 
                           title="Shop Cable Clips & Organizers for Tidy Workspaces" 
                           aria-label="Explore Cable Clips & Organizers to keep cords neat and tangle-free" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Ugreen_Cable_Clips_-_Flexible_Durable_Silicone_Cable_Management.webp?v=1741786873" alt="Assorted cable clips organizing multiple wires" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Cable Clips & Organizers
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-cable-management-organizing-laptop-stands-desk-organizers#MainContent" 
                           title="Discover Laptop Stands & Desk Organizers" 
                           aria-label="Find ergonomic Laptop Stands & Desk Organizers for better posture and workspace efficiency" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Category_Laptop_Stand.webp?v=1725783945" alt="Minimalist laptop stand with an organized desk setup" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Laptop Stands & Desk Organizers
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-cable-management-organizing-laptop-computer-covers-skins-protectors#MainContent" 
                           title="Protect Your Devices with Laptop & Computer Covers, Skins & Protectors" 
                           aria-label="Shop durable Laptop & Computer Covers, Skins & Protectors to shield your devices from dust and scratches" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Laptop_Case_for_Microsoft_Surface.webp?v=1746152020" alt="Laptop skin protector applied to Microsoft Surface" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Laptop & Computer Covers, Skins & Protectors
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-cable-management-organizing-wire-cable-ties#MainContent" 
                           title="Shop Wire & Cable Ties for Better Cable Management" 
                           aria-label="Find strong and reusable Wire & Cable Ties to keep cords organized and secure" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/wire_and_cable_ties.webp?v=1741786203" alt="Bundle of reusable cable ties securing power cords" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Wire & Cable Ties
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>            
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Printers, Copiers & Fax Machines
            </h2>
            <nav aria-label="Printers, Copiers & Fax Machines Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-printers-copiers-fax-machines-thermal-printers-printing-solutions#MainContent" 
                           title="Shop Thermal Printers & Printing Solutions for Efficient Labeling" 
                           aria-label="Explore Thermal Printers & Printing Solutions for fast, ink-free printing" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Thermal_printer_-_labeller_printer.webp?v=1746152218" alt="Compact thermal printer printing a shipping label" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Thermal Printers & Printing Solutions
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-printers-copiers-fax-machines-3d-printers#MainContent" 
                           title="Discover 3D Printers for Prototyping & Creativity" 
                           aria-label="Find high-performance 3D Printers for professional and hobbyist use" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Flashforge_Adventurer_4_3D_Printer.webp?v=1714082495" alt="Modern 3D printer creating a prototype model" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                3D Printers
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                </ul>
            </nav> 
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Bags & Backpacks
            </h2>
            <nav aria-label="Bags & Backpacks Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-bags-backpacks-laptop-backpacks-travel-bags#MainContent" 
                           title="Shop Durable Laptop Backpacks & Travel Bags for Work & Adventures" 
                           aria-label="Browse high-quality Laptop Backpacks & Travel Bags for professionals and travelers" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S5f02cdb0140041e1a4a991b61cb16e0bK.webp?v=1741341248" alt="Stylish laptop backpack with multiple compartments" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Laptop Backpacks & Travel Bags
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-bags-backpacks-hard-drive-carrying-cases-storage-bags#MainContent" 
                           title="Find the Best Hard Drive Carrying Cases & Storage Bags" 
                           aria-label="Discover protective Hard Drive Carrying Cases & Storage Bags for secure data transport" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Hard_Drive_carrying_case.webp?v=1741786352" alt="Shockproof hard drive carrying case with secure zipper" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Hard Drive Carrying Cases & Storage Bags
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-bags-backpacks-portable-organizer-bags-storage-pouches#MainContent" 
                           title="Explore Portable Organizer Bags & Storage Pouches for Tech Accessories" 
                           aria-label="Browse Portable Organizer Bags & Storage Pouches for cables, chargers, and essentials" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Sb0b0e88785be4b0e8c6e4d530d1d5e19e.webp?v=1726845618" alt="Compact travel organizer bag with cable compartments" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Portable Organizer Bags & Storage Pouches
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Privacy & Security
            </h2>
            <nav aria-label="Privacy & Security Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-privacy-security-security-system-sensors#MainContent" 
                           title="Shop Security System Sensors for Home & Office" 
                           aria-label="Browse Security System Sensors for enhanced home and office safety" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S2febdba98a5342fdb61232cd036e6181P.webp?v=1741514079" alt="Smart security system sensors for home and office protection" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Security System Sensors
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-privacy-security-webcam-covers-privacy-protection#MainContent" 
                           title="Buy Webcam Covers & Privacy Protection Accessories" 
                           aria-label="Explore Webcam Covers and Privacy Protection solutions to prevent unwanted surveillance" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/webcam_privacy_cover_protection.webp?v=1741786554" alt="Webcam covers and privacy protection accessories for laptops and devices" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Webcam Covers & Privacy Protection
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Games, Consoles, and Building Model Sets
            </h2>
            <nav aria-label="Games, Consoles, and Building Model Sets Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-games-consoles-and-building-model-sets-console-pc-controllers#MainContent" 
                           title="Shop Console & PC Controllers for the Best Gaming Experience" 
                           aria-label="Browse high-performance Console & PC Controllers for an immersive gaming experience" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S4ec5232166544e098a95f54fd0b59544w.webp?v=1741523983" alt="Console and PC gaming controllers for a seamless gameplay experience" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Console & PC Controllers
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-games-consoles-and-building-model-sets-portable-game-console-accessories#MainContent" 
                           title="Discover Portable Game Console Accessories for On-the-Go Gaming" 
                           aria-label="Find essential Portable Game Console Accessories including cases, grips, and chargers" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S35695b4f9485450d9ab266fa12b533acZ.webp?v=1741161084" alt="Portable game console accessories like protective cases, grips, and power banks" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Portable Game Console Accessories
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-games-consoles-and-building-model-sets-docks-mounts#MainContent" 
                           title="Shop Docks & Mounts for Consoles and Gaming Setups" 
                           aria-label="Enhance your gaming station with premium Docks & Mounts for game consoles and accessories" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Game_console_docking_station.webp?v=1746152754" alt="Gaming docks and mounts for efficient console and PC setups" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Docks & Mounts
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-games-consoles-and-building-model-sets-portable-game-console-screen-protectors#MainContent" 
                           title="Get Portable Game Console Screen Protectors for Maximum Protection" 
                           aria-label="Protect your portable game console with high-quality screen protectors" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/172488577566cfab0f781cd9535760.webp?v=1724886243" alt="Screen protectors for Nintendo Switch, Steam Deck, and other handheld consoles" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Portable Game Console Screen Protectors
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-games-consoles-and-building-model-sets-charging-docks#MainContent" 
                           title="Shop Fast Charging Docks for Game Consoles & Accessories" 
                           aria-label="Find high-speed Charging Docks for PlayStation, Xbox, Nintendo Switch, and more" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Game_console_controller_charging_dock.webp?v=1746152575" alt="Fast-charging docks for gaming consoles and accessories" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Charging Docks
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-games-consoles-and-building-model-sets-lego-moc-model-toys#MainContent" 
                           title="Explore LEGO & MOC Model Toys for Creative Building Fun" 
                           aria-label="Shop LEGO & MOC Model Toys including custom sets, architecture models, and collectibles" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Sdcf5eb348806498c9e96bb9562030966y.webp?v=1740489220" alt="LEGO and MOC model toy sets for creative and educational fun" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                LEGO & MOC Model Toys
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
<li>
                        <a href="/collections/category-games-consoles-and-building-model-sets-vr-accessories#MainContent" 
                           title="Shop VR Accessories for Enhanced Gaming & Immersive Experiences" 
                           aria-label="Explore top VR accessories for gaming, headsets, controllers, and more" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S5ed11d45efcc41ee984b52dcab09bf37v.webp?v=1741872496" alt="10000mAh Head Strap for Meta Quest 3 & Quest 3S - Extra Battery Pack for Extended VR Playtime" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                VR Accessories
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Health & Fitness Gadgets
            </h2>
            <nav aria-label="Health & Fitness Gadgets Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-health-fitness-gadgets-smart-watches#MainContent" 
                           title="Shop Smart Watches for Fitness Tracking & Health Monitoring" 
                           aria-label="Explore the latest Smart Watches with fitness tracking, heart rate monitoring, and smart notifications" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Sb16e67209cff41ee95e288c5392f2f4ar.webp?v=1741020610" alt="Smart watches with heart rate monitoring, step tracking, and more" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Smart Watches
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Collectibles & Fan Art
            </h2>
            <nav aria-label="Collectibles & Fan Art Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-collectibles-fan-art-action-figures-collectible-toys-marvel-dc-more#MainContent" 
                           title="Shop Marvel, DC, and more action figures and collectible toys" 
                           aria-label="Marvel, DC & More Action Figures and Collectible Toys" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/172649082366e828c794f8f3963802_4296efcb-7cda-4d17-bee6-849e7e620c26.webp?v=1726491223" alt="Marvel, DC & More Action Figures and Collectible Toys" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Action Figures & Collectible Toys – Marvel, DC & More
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-collectibles-fan-art-fantasy-models-figures#MainContent" 
                           title="Explore fantasy models and collectible figures" 
                           aria-label="Fantasy Models & Collectible Figures" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/S0a94cf22c82e4044b425d089dad81ad1G_76b9acbe-f080-46df-9799-378350796b46.webp?v=1728320828" alt="Fantasy Models and Collectible Figures" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Fantasy Models & Figures
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-collectibles-fan-art-anime-figures-popular-characters-collectibles#MainContent" 
                           title="Shop popular anime figures and collectibles of top characters" 
                           aria-label="Anime Figures and Collectibles of Popular Characters" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/172544952066d8453053db9912147.webp?v=1725449702" alt="Anime Figures and Popular Characters Collectibles" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Anime Figures - Popular Characters & Collectibles
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right 
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <h2 class="font-size_large font-mplus font-wght__bold wrapper-base__template-center margin-bottom__thickest padding-bottom__narrow-pl color__dark-blue-categry-hdr">
                Audio & Video
            </h2>
            <nav aria-label="Audio & Video Categories">
                <ul class="wrapper-base__template-column-all-left category-row">
                    <li>
                        <a href="/collections/category-audio-video-headphones-headsets-razer-logitech-more#MainContent" 
                           title="Shop Headphones & Headsets - Razer, Logitech, and Top Brands" 
                           aria-label="Headphones & Headsets - Razer, Logitech & More" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Logitech-G435-LIGHTSPEED-Bluetooth-Wireless-Gaming-Headset-Surround-Sound-Headphone-Over-Ear-For-PC-Laptop-Games_d9dafbd1-32d7-4e1c-bfd0-7e1c67075dd1.webp?v=1732298821" alt="Headphones & Headsets - Razer, Logitech, Gaming Headphones" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Headphones & Headsets - Razer, Logitech & More
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-audio-video-cables-high-quality-hdmi-aux-and-more#MainContent" 
                           title="Premium Audio & Video Cables - HDMI, AUX, Optical & More" 
                           aria-label="High-Quality Audio & Video Cables - HDMI, AUX, and More" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/17191268136677cb1d23bca4182831.webp?v=1719126879" alt="Audio & Video Cables - HDMI, AUX, High-Quality Cables" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Audio & Video Cables - High-Quality HDMI, AUX, and More
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-audio-video-speakers#MainContent" 
                           title="Explore High-Quality Audio Speakers for Home and Studio" 
                           aria-label="Explore Our Speaker Collection" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/17209718586693f2524e59b4551291.webp?v=1720972078" alt="Premium Speakers - Home and Studio Audio" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Speakers
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/category-audio-video-speaker-accessories-sound-system-essentials#MainContent" 
                           title="Essential Speaker Accessories & Sound System Enhancements" 
                           aria-label="Shop Speaker Accessories & Sound System Essentials" 
                           class="wrapper-base__template-just-start color__card-dimgrey-std margin-bottom__thickest border-radius__strongest">
                            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Amazon_alexa_base-dock.webp?v=1746152956" alt="Speaker Accessories, Stands, Mounts, and Sound System Essentials" width="70px" loading="lazy">
                            <h3 class="margin-right__thick margin-left__thick">
                                Speaker Accessories & Sound System Essentials
                            </h3>
                            <span class="material-symbols-outlined color__dark-blue-txt notranslate">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>