{% comment %} Discount, Shipping & Return Info Section {% endcomment %}
<main id="main-container" class="blue-lin-rad__bg">
  <!-- Header Section -->
  <section class="std-box__shadow mg-top__none--mobile prnt-wrapper-fill border-radius__strongest margin-top__narrow padding-bottom__narrow padding-top__medium-plus flex-column__all-center text-align-center font-mserrat margin-bottom__thicker font-wght__thin">
    <a id="join-today__header-link" class="hover-bg__special header-txt font-contrail h1-xtreme color__orange-red" href="https://shopify.com/79548547410/auth/lookup?destination_uuid=178afe10-305f-4a28-a726-df1f525e2cbe&redirect_uri=https%3A%2F%2Fshopify.com%2F79548547410%2Faccount%2Fcallback&rid=eb99af4e-990f-4b5d-ae12-be20a80c7ed1&ui_locales=en" title="Join today and save 15%" aria-label="Join Swiftwintek today and save 15% on your first 2 orders!">
      Join Today!
    </a>
    <span class="material-symbols-outlined md-48 notranslate margin-top__micro color__dark-grey-txt">how_to_reg</span>
    <p class="content-text h3-normal margin-top__thick line-height__lg-extra">
      Unlock <span class="inline-pad color__blue font-fugaz">15% off</span> your first order & enjoy another <span class="inline-pad color__blue font-fugaz">15% off</span> your next one—just by becoming a member!<br>
      <strong class="color__dark-blue-txt">Double</strong> the savings, <strong class="color__dark-blue-txt">double the perks!</strong>
    </p>
    <div class="flex-row__all-center gap-1r">
      <a class="color__dark-blue-txt link-uline__focus h6-normal font-wght__medium-plus" href="#code-discount__container-all" title="Save 15% with Coupon">(Code below)</a>
      <a href="/pages/discount-policy" class="policy-links link-uline__focus" title="Learn about our Discount Policy" aria-label="Learn about our Discount Policy">Discount policy</a>
    </div>
  </section>

  <!-- Shipping & Return Section -->
  <section class="font-wght__thin">
    <div class="font-mserrat color__dark-grey-txt">
      <div class="flex-row__all-center flex-colmn__center--mobile">
        <img class="ship-return-imgs" src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/free-shipping-red-and-grey-truck.png?v=1706692546" alt="Free Shipping, all orders" width="280" height="auto" loading="lazy" />
        <div class="flex-row__all-center flex-colmn__center--mobile">
          <h1 class="color__blue font-mserrat font-wght__boldest h1-xtreme-smaller mg-right__normal-extra mg-left__normal-extra mg-btm__sm--mobile" style="text-shadow: 0px 1px 1.5px rgba(0, 64, 128, 0.14);
">U.S. & Canada</h1>
          <a href="/policies/shipping-policy" class="policy-links link-uline__focus mg-top__micro-xl mg-top__none--mobile" title="Read our Shipping Policy">Shipping policy</a>
        </div>
      </div>

      <ul class="padding-top__medium-plus padding-bottom__medium-plus color__dark-grey-txt flex-colmn__center--mobile pd-btm__mini--mobile box-pad__std--mobile">
        <li class="margin-bottom__medium li-items wrapper-base__template-just-start flex-row__center--mobile">
          <p class="content-text margin-right__mini-plus h3-xtra">All Orders</p>
          <span class="material-symbols-outlined notranslate color__dark-blue-txt md-30" style="font-size: 36px;">deployed_code_update</span>
        </li>
        <li class="margin-bottom__medium li-items wrapper-base__template-just-start flex-colmn__center--mobile">
          <div class="mg-btm__md-xtra--mobile flex-row__all-center flex-colmn__center--mobile">
            <p class="content-text h3-xtra margin-right__small mg-left__small--mobile pd-x-normal--mobile mg-btm__med--mobile">7-Day / Express Delivery on selected picks</p>
            <span class="material-symbols-outlined notranslate color__dark-blue-txt" style="font-size: 36px;">timelapse</span>
          </div>
          <div class="flex-column__all-end box-shadow__dark-elevated padding-left__thick margin-left__extreme mg-rg__thickest-plus std__box-shadow wrapper-base__template-center box__padding-thin-plus clr__dark-blue-ambient-bg border-radius__strongest" style="padding-right: 3rem;">
            <p class="padding-left__thick padding-right__thick bdr-rad__strongest-plus margin-top__none font-contrail h1-normal color__border"><span class="md-orange__border-btm padding-bottom__mini color__white-txt white-txt__backdrop-shadow" style="font-size: 5rem; background: #2a2f44;">Express+</span> - Now available</p>
            <a class="color__learn-more policy-links link-uline__focus mg-right__thick-plus" href="/pages/express-delivery-terms-conditions-for-u-s-customers" title="Learn more about our U.S. Super Express Delivery Service">Learn More</a>
          </div>
          <div class="flex-column__all-center mg-top__med--mobile">
            <p class="content-text margin-top__none line-height__lg-extra font-mserrat h3-normal font-wght__thin margin-bottom__thickest mg-btm__thick--mobile"><span class="h2-normal md-plus-blue__bdr-btm pd-bottom__mini-plus font-wght__boldest" style="margin-left: 0;">2 - 5 days</span> &nbsp;&nbsp;Free Shipping</p>
            <a href="collections/swift-u-s-super-express-fast-reliable-delivery-2-5-days" title="Shop our U.S. Super Express collection" class="h3-normal padding-left__thick flex-row__all-center btn-inline">Shop Now <span class="material-symbols-outlined notranslate margin-left__mini-plus">shopping_bag_speed</span></a>
          </div>
        </li>
        <li class="li-items wrapper-base__template-just-start flex-row__center--mobile display-none--mobile">
          <p class="content-text h3-xtra margin-right__mini-plus">No additional fees!</p>
          <span class="material-symbols-outlined notranslate md-30 color__dark-blue-txt" style="font-size: 36px;">recommend</span>
        </li>
      </ul>
    </div>
  </section>

  <!-- Withdrawal and Refund Policies -->
  <section class="box__padding-medium-plus pd-bottom__extreme blue-lin-rad__bg pd-btm__lg--mobile">
    <div class="flex-row__all-center flex-colmn__center--mobile pd-bottom__thick-extra">
      <div class="flex-row__all-center flex-colmn__center--mobile">
        <img class="ship-return-imgs" src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/free-returns-grey-box.png" alt="Enjoy 30-Day Free Returns on your orders" width="175" height="auto" loading="lazy" decoding="async">
        <h2 class="font-mserrat font-wght__boldest h1-xtreme color__blue mg-rg__thickest-plus mg-rg__none--mobile mg-top__sm--mobile" style="text-shadow: 0px 1px 1.5px rgba(0, 64, 128, 0.14);
">
          Free <span class="color__dark-grey-txt">returns</span>
        </h2>
      </div>
      <p class="thick-lgrey__border-left content-text h3-xtra content-text--emp font-wght__thin-plus" style="padding: 1rem 10rem;">Unlock the freedom of &nbsp;<strong class="color__dark-blue-txt padding-bottom__mini md-blue__border-btm h2-normal line-height__thick ltr-spacing__inline font-wght__boldest">zero</strong>&nbsp; shipping fees on every order</p>
    </div>
    <div class="flex-row__all-center flex-colmn__center--mobile">
      <div class="padding-right__thicker pd-rg-none--mobile">
        <h2 class="font-fugaz h1-xtra color__blue margin-bottom__medium line-height__standard">30 days right of<br> withdrawal</h2>
        <div class="flex-row__all-center gap-1r">
      <p class="color__dark-blue-txt h6-normal font-wght__medium-plus">Terms apply, </p>
      <a href="/policies/refund-policy" class="policy-links link-uline__focus flex-child__center" title="Learn about our Returns & Refunds" aria-label="Learn about our Returns & Refunds">Learn more</a>
    </div>
      </div>
      <ul class="font-mserrat color__dark-blue-txt flex-row__all-center gap-3r flex-gap-sm--mobile box-pad__lg--mobile">
        <li>
          <div class="li-items li-cont flex-column__all-center" id="top-li">
            <p class="font-wght__bold-regular">Found another product?<br> Make a swap for free, no hassle.</p>
            <span class="material-symbols-outlined notranslate rotate-icon" style="font-size: 36px;">change_circle</span>
          </div>
        </li>
        <li>
          <div class="li-items li-cont flex-column__all-center" style="margin-bottom: 3rem;">
            <p class="font-wght__bold-regular">Secured Shopping with SSL Certificate and 3D-Secure Payments</p>
            <span class="material-symbols-outlined notranslate" style="font-size: 36px;">encrypted</span>
          </div>
        </li>
        <li class="li-items li-cont flex-column__all-center">
          <p class="font-wght__bold-regular">Customer service available weekdays, 12:00 PM – 5:00 PM ET</p>
          <span class="material-symbols-outlined notranslate md-30" style="font-size: 36px;">contact_support</span>
        </li>
      </ul>
    </div>
  </section>
</main>

{% schema %}
{
  "name": "Discount Info",
  "tag": "section",
  "class": "discounts-shipping-return-wrapper",
  "settings": [],
  "presets": [
    {
      "name": "Discount Info"
    }
  ]
}
{% endschema %}
