<div class="flex-row__all-center flex-colmn__center--mobile gap-6r padding-bottom__medium mg-top__smx--mobile">
  <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/ssl-secure-shopping-checkout-gimp.jpg?v=1710578961" width="55" height="auto" alt="Secure shopping with SSL" loading="lazy"/>
  <a class="btn-inline font-size_medium padding-left__thick padding-right__thick padding-top__minimal padding-bottom__mini" href="https://swiftwintekstore.com/account/login" title="Login / My Account – Access Your Profile and Order History" aria-label="Login to your account or view your profile and order history.">
    <span class="color__white-txt">Login / My Account</span>
  </a>
  <div style="display: flex; align-items: center; gap: 1.5rem; font-family: 'Montserrat', sans-serif; font-size: 0.95rem; color: #2b3041;">
  <div id="stripe-trustbar--fter" class="stripe-trustbar flex-row__all-center font-mserrat color__dark-blue-txt gap-1r flex-wrap--wrap">
    <img src="{{ 'stripe_twitter_badge.png' | file_url }}" alt="Stripe Secure" class="h-8" loading="lazy" width="21" height="auto" style="border-radius: 50px; margin-right: .25rem;">
    <span class="ltr-spacing__inline"><strong>Secure Checkout</strong></span><span class="ltr-spacing__inline"><strong>PCI DSS Level 1</strong></span><span class="flx-basis-full--mobile">Powered by Stripe</span>
  </div>
  
</div>

</div>

<div style="align-self: center; width: 25%; margin-top: 2rem;" class="trustedsite-trustmark" data-type="1001"></div>

<div id="footer__list-items-wrapper" class="box-padding__footer-lst color__card-dimgrey-std color__lgrey-txt font-mserrat flex-row__align-start flex-colmn__center--mobile">

  <!-- PARTNERS (KEEP AS-IS) -->
  <div class="margin-right__thickest wrapper-base__template-column-all-left">
    <div id="jdm-partners__footer-wrapper" class="padding-right__thick-plus thin-lgrey__border-right">

      <h2 id="footer-partner__hder" class="color__dark-blue-txt font-mserrat font-wght__bold font-size_large">
        Partners
      </h2>

      <ul type="list" id="partner-list__wrapper" class="padding-left__none">

        <!-- Technology & Brand Partners -->
        <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin">
          Technology Brands
        </li>
        <ul type="list" class="padding-left__thin margin-bottom__regular">
          <li>
            <a href="https://www.crucial.com/" target="_blank" rel="noopener noreferrer"
               title="Crucial by Micron Official Website"
               aria-label="Crucial by Micron Official Website"
               class="color__lgrey-txt link-uline__focus">
              Crucial by Micron
            </a>
          </li>
          <li>
            <a href="https://www.micron.com/" target="_blank" rel="noopener noreferrer"
               title="Micron Official Website"
               aria-label="Micron Official Website"
               class="color__lgrey-txt link-uline__focus">
              Micron
            </a>
          </li>
          <li>
            <a href="https://eu.ugreen.com/" target="_blank" rel="noopener noreferrer"
               title="UGREEN Official Website"
               aria-label="UGREEN Official Website"
               class="color__lgrey-txt link-uline__focus">
              UGREEN
            </a>
          </li>
        </ul>

        <!-- Payment & Financing -->
        <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin">
          Payment & Financing
        </li>
        <ul type="list" class="padding-left__thin">
          <li>
            <a href="https://affirm.com/" target="_blank" rel="noopener noreferrer"
               title="Affirm – Buy Now, Pay Later"
               aria-label="Affirm Buy Now Pay Later"
               class="color__lgrey-txt link-uline__focus">
              Affirm
            </a>
          </li>
        </ul>

      </ul>

    </div>
  </div>

  <!-- CHANNELS (NESTED) -->
  <div class="margin-right__extreme">
    <h2 class="color__dark-blue-txt thin-lgrey__border-right font-mserrat font-wght__bold font-size_large">Channels</h2>

    <ul type="list" id="channel-list__wrapper" class="padding-left__none wrapper-base__template-column-all-center margin-top__none">

      <!-- Swiftwintek -->
      <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin wrapper-base__template-column-all-left">
        Swiftwintek
      </li>
      <ul type="list" class="padding-left__thin margin-bottom__regular wrapper-base__template-column-all-center">
        <li class="flex-column__all-center">
          <a href="https://www.reddit.com/r/Swtekparts/" target="_blank" rel="noopener noreferrer"
             title="Join Our Community on Reddit – Stay Connected and Engaged"
             aria-label="Join our Subreddit community and connect with us on Reddit"
             class="link-uline__focus">
            <p class="margin-bottom__medium">Swtek Parts</p>
            <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/swtekparts_thumb_ico.jpg?v=1737821115"
                 width="30" height="auto"
                 alt="Geometric dark-grey cube with blue & white bold text floating inside"
                 loading="lazy"/>
          </a>
        </li>

      </ul>

      <!-- Community & Open Source -->
      <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin wrapper-base__template-column-all-left">
        Community
      </li>
      <ul type="list" class="padding-left__thin wrapper-base__template-column-all-left">
        <li>
          <a href="https://www.reddit.com/r/Swtekparts/" target="_blank" rel="noopener noreferrer"
             title="Join Our Community on Reddit – Stay Connected and Engaged"
             aria-label="Join our Subreddit community and connect with us on Reddit"
             class="color__lgrey-txt link-uline__focus">
            Join our subreddit
          </a>
        </li>
        <li>
          <a href="https://github.com/dainex90/swiftwintek-shopify-theme" target="_blank" rel="noopener noreferrer"
             title="Explore Our GitHub Repository – Contribute and Discover Projects"
             aria-label="Visit our GitHub repository to explore projects and contribute"
             class="color__lgrey-txt link-uline__focus">
            GitHub
          </a>
        </li>
      </ul>

    </ul>
  </div>

  <!-- POLICY (NESTED) -->
  <div class="margin-right__thickest wrapper-base__template-column-all-left">
    <h2 class="thin-lgrey__border-right color__dark-blue-txt font-mserrat font-wght__bold padding-right__thick font-size_large">Policy</h2>

    <ul type="list" id="policys-list__wrapper" class="padding-left__none">

      <!-- Customer Policies -->
      <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin">
        Customer Policies
      </li>
      <ul type="list" class="padding-left__thin margin-bottom__regular">
        <li class="policy-term">
          <a href="/policies/refund-policy" title="Returns & Refunds"
             aria-label="Return and Refund Policy - Terms, Conditions, and Instructions for Returns"
             class="color__lgrey-txt link-uline__focus">
            Returns & Refunds
          </a>
        </li>
        <li class="policy-term">
          <a href="/policies/shipping-policy" title="Shipping policy"
             aria-label="View our Shipping Policy"
             class="color__lgrey-txt link-uline__focus">
            Shipping Policy
          </a>
        </li>
        <li class="policy-term">
          <a href="/pages/warranty" title="Warranty Policy"
             aria-label="View our Warranty Policy"
             class="color__lgrey-txt link-uline__focus">
            Warranty
          </a>
        </li>
      </ul>

      <!-- Legal -->
      <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin">
        Legal
      </li>
      <ul type="list" class="padding-left__thin">
        <li class="policy-term">
          <a href="/policies/privacy-policy" title="Privacy Terms & Conditions"
             aria-label="View our Privacy Policy"
             class="color__lgrey-txt link-uline__focus">
            Privacy Policy
          </a>
        </li>
        <li class="policy-term">
          <a href="/policies/terms-of-service" title="Terms of Service"
             aria-label="View our Terms of Service"
             class="color__lgrey-txt link-uline__focus">
            Terms of Service
          </a>
        </li>
      </ul>

    </ul>
  </div>

  <!-- PERKS & SERVICES (NESTED) -->
  <div class="margin-right__thickest wrapper-base__template-column-all-left">
    <h2 class="thin-lgrey__border-right color__dark-blue-txt font-mserrat font-wght__bold padding-right__thick font-size_large">Perks & Services</h2>

    <ul type="list" id="Loyalty-Services-list__wrapper" class="padding-left__none">

      <!-- Customer Benefits -->
      <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin">
        Customer Benefits
      </li>
      <ul type="list" class="padding-left__thin margin-bottom__regular">
        <li>
          <a href="/pages/how-to-use-the-rewards-program"
             title="Learn how to earn and redeem Wintek-Eggs with Swiftwintek's Rewards Program"
             aria-label="Discover how to earn and redeem Wintek-Eggs with Swiftwintek's Rewards Program"
             class="color__lgrey-txt link-uline__focus">
            Rewards Program / Wintek-Eggs
          </a>
        </li>
        <li>
          <a href="/pages/discount-policy-savings-guide#refer-pgm__hdr-main"
             title="Join our Refer & Earn Program to get rewards"
             aria-label="Learn how to earn rewards by referring others to Swiftwintek"
             class="color__lgrey-txt link-uline__focus">
            Refer & Earn
          </a>
        </li>
        <li>
          <a href="/pages/discount-policy-savings-guide"
             title="Discount Policy & Savings Guide"
             aria-label="Learn about our discount policy and savings guide, including exclusive offers and seasonal promotions"
             class="color__lgrey-txt link-uline__focus">
            Discounts & Savings
          </a>
        </li>
      </ul>

      <!-- Order Services -->
      <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin">
        Order Services
      </li>
      <ul type="list" class="padding-left__thin">
        <li>
          <a href="/pages/express-delivery-terms-conditions-for-u-s-customers"
             title="Find out more about Swiftwintek's Express Delivery Service"
             aria-label="Explore Swiftwintek's Express Delivery Service and shipping options"
             class="color__lgrey-txt link-uline__focus">
            Express Delivery Service
          </a>
        </li>

        <li class="flex-row__just-start gap-2r">
          <a href="/pages/track-your-order"
             title="Track your order and check shipping status"
             aria-label="Track your order and view real-time shipping updates with your tracking number"
             class="color__lgrey-txt link-uline__focus">
            Track your Order
          </a>
          <p class="h5-normal color__orange-red font-contrail font-wght__bold-regular">New</p>
        </li>
      </ul>

    </ul>
  </div>

  <!-- SWIFTWINTEK (NESTED) -->
  <div class="wrapper-base__template-column-all-left">
    <div class="flex-row__align-start margin-top__thick">
      <h2 id="brand__footer-hder" class="thin-blue__border-right color__dark-blue-txt font-contrail margin-right__normal-plus padding-right__thick h2-normal" style="margin-top: 0;">Swiftwintek</h2>
      <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/swiftwintek-logo-bird-flying.png?v=1743167184"
           alt="Cute green bird flying upwards" width="35" height="auto" loading="lazy">
    </div>

    <ul type="list" id="contact-info__wrapper" class="padding-left__none">

      <!-- Company -->
      <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin">
        Company
      </li>
      <ul type="list" class="padding-left__thin margin-bottom__regular">
        <li id="contact-information__link-wrapper">
          <a id="footer-special__li-item"
             href="/pages/contact-us-expert-pc-hardware-components-support"
             title="Contact Swiftwintek for support or inquiries"
             aria-label="Contact Swiftwintek for support or inquiries"
             class="color__lgrey-txt link-uline__focus">
            Contact Information
          </a>
        </li>
        <li class="margin-top__thick" style="border: 0;">
          <a id="wtek-footer-lst__special-hvr"
             href="/pages/faq"
             title="Learn more about Swiftwintek and find answers to frequently asked questions"
             aria-label="Learn about Swiftwintek and view our FAQ page for common questions and answers"
             class="color__lgrey-txt link-uline__focus">
            About Us &amp; FAQ
          </a>
        </li>
      </ul>

      <!-- Content -->
      <li class="color__dark-grey-txt h2-normal font-wght__bold margin-bottom__thin">
        Content
      </li>
      <ul type="list" class="padding-left__thin">
        <li class="margin-top__thick" style="border: 0;">
          <a href="/blogs/tech-news"
             title="Stay updated with the latest product releases, company news, & updates from Swiftwintek"
             aria-label="Read Swiftwintek's latest product releases, news, and updates"
             class="color__lgrey-txt link-uline__focus">
            News
          </a>
        </li>
        <li class="margin-top__thick" style="border: 0;">
          <a href="/blogs/expert-reviews-technical-articles-insights-on-electronics-pc-hardware-more"
             title="In-depth technical articles and insights on electronics, PC hardware & software"
             aria-label="Explore technical articles and insights on electronics, PC hardware & software from Swiftwintek"
             class="color__lgrey-txt link-uline__focus">
            Articles &amp; Insights
          </a>
        </li>
      </ul>

    </ul>
  </div>

</div>


<div class="footer-promo wrapper-base__template-column-left">
  <h3 class="footer-header font-mserrat font-wght__regular line-height__standard h1-normal">Stay <span class="highlighted-word font-wght__bold-regular italic-text">informed</span> &nbsp;with Our <span class="font-wght__bolder">Latest News</span> !</h3>
  <p class="footer-link font-mplus margin-top__medium p-xlarge line-height__std-extra">Check out our <a href="/blogs/tech-news" class="footer-cta" title="Latest updates on tech products, hardware, and PC components" aria-label="Read the latest product news on hardware, electronics, and PC parts">Product News</a> and <a href="/blogs/expert-reviews-technical-articles-insights-on-electronics-pc-hardware-more" class="footer-cta" title="In-depth technical articles and insights on electronics, PC hardware & software" aria-label="Explore technical articles and insights on electronics, PC hardware & software">Technical Insights</a>, or subscribe to our <a class="flex-row__all-center rss-button footer-cta" title="Subscribe to our RSS feed for the latest tech and hardware updates" aria-label="Subscribe to the RSS feed for updates on tech products and electronics news" href="/blogs/tech-news.atom" target="_blank" rel="noopener"><span>RSS Feed</span> <i class="fa-solid fa-rss mtrl-left__mg--med color__white-txt fa-sm"></i></a></p>
</div>

<!-- Bottom Footer Section, company info etc. -->
<div id="company-info__wrapper" class="margin-top__thicker color__card-dimgrey-std font-mserrat padding-top__narrow padding-bottom__narrow color__dark-blue-txt p-regular flex-column__all-center">
  <p>© 2023 - 2025 <strong>Swiftwintek LLC</strong> – All rights reserved</p>
  <p>Registered-Agent Address: 262 Chapman Rd, Ste 240, Newark DE 19702</p>
  <a href="https://icis.corp.delaware.gov/Ecorp/EntitySearch/NameSearch.aspx" 
   rel="noopener noreferrer" 
   target="_blank" 
   title="Verify Swiftwintek LLC registration on the Delaware Division of Corporations website" 
   aria-label="Opens the Delaware Division of Corporations website to verify Swiftwintek LLC registration, File Number 10218055"
  class="link-uline__focus color__std-blue">
  <strong>Registered in Delaware</strong> • File No. 10218055
</a>

  <p>
    <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 18px; margin-right: 4px;">
      verified
    </span>
    <strong>U.S. Registered Business</strong>
  </p>
</div>

{% schema %}
{
  "name": "Footer Content Extended",
  "settings": [],
  "presets": [
    {
      "name": "Footer Content Extended"
    }
  ]
}
{% endschema %}
