{% schema %}
{
  "name": "Footer Discount Banner",
  "settings": [],
  "presets": [
    {
      "name": "Footer Discount Banner"
    }
  ]
}
{% endschema %}


<section id="footer-banner__base-flex-cont">
    <div id="code-discount__container-all">
        <h2 class="line-height__standard h2-normal font-mplus font-wght__bold-regular margin-bottom__none margin-top__micro">Enjoy&nbsp;
            <span class="footer__banner-terms-highlight" id="code-discount__amt">15% Off</span>&nbsp; Your First Order! <span class="font-wght__thin">Use code
            <span style="color: yellow" class="font-wght__bold-regular color__dark-blue-bg padding-bottom__micro padding-right__narrow padding-left__minimal bdr-radius__normal-extra mg-left__micro-plus margin-right__micro-plus box-shadow__dark-elevated line-height__thick lg-orange__border-left">SWFTFIRST15</span> at checkout.</span>
        </h2>
    </div>
    <div id="footer-list__wrapper" class="wrapper-base__template-align-start gap-8r gap-3r--mobile padding-left__thick padding-right__thick padding-top__thick pd-top__med--mobile">
    <div class="flex-column__align-start">
      <h3 class="color__dark-blue-bg box-shadow__dark-elevated box__padding-header-temp border-radius__strongest line-height__standard top-li term-items h2-extra h2-normal--mobile flex-row__all-center flex-colmn__center--mobile gap-2r margin-bottom__thicker font-wght__bold-regular color__card-dimgrey-std-txt ltr-spacing__inline" style="font-weight: 700;">
                 <span class="material-symbols-outlined color__blue md-30-new notranslate" style="padding-top: 0; padding-bottom: 0;">
new_releases
</span>
                No minimum purchase required
            </h3>
        <ul id="first-order__terms-list-cont" class="footer-banner__terms-bullet-list">
           <li class="term-items">Available to <strong>all new customers</strong></li>
           <li class="term-items"><strong>One-time use</strong> per customer</li>
                <li class="term-items">Cannot be combined with other promotions or discounts 
                </li>
<li>
                <a href="/pages/discount-policy" title="Learn more about our Discount Combinations" aria-label="Learn more about our Discount Combinations" style="margin-left: .2rem;" class="font-size_x-small color__baby-blue-highlight-txt link-uline__focus"> 
                    Learn more</a></li>
        </ul> 
    </div>
      
            <div class="wrapper-base__template-center">
                    <ul class="footer-banner__terms-bullet-list" id="free-shipping__bullet-list-details">
<li class="wrapper-base__template-column-all-center">
 <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/free_shipping_footer_banner_top-finished.jpg?v=1723015298" width="225px" alt="Enjoy Free Shipping on All Orders" loading="lazy" class="border-radius__stronger-plus margin-bottom__micro box-img__shadow">
                        <p class="font-size_x-small color__baby-blue-highlight-txt">
                            (Shipping policy below)
                        </p>
</li>
                        <li class="h2-normal font-wght__bold-regular top-li term-items bd-right__lgrey-fter">Available in the <strong>U.S. and Canada</strong></li>
                        <li class="term-items bd-right__lgrey-fter">No Minimum Purchase Required</li>
                        <li class="term-items bd-right__lgrey-fter">Delivery in <strong>2-5 Days on Selected Items</strong></li>
<li class="term-items bd-right__lgrey-fter">No Extra Fees or Import Duties at Checkout</li>
                    </ul>
                  <a href="/products/crucial-t500-1tb-pcie-gen4-nvme-m-2-intern-gaming-ssd-solid-state-drive-upp-till-7300mb-s-kompatibel-med-laptop-och-desktop-microsoft-directstorage-ct1000t500ssd8?_pos=1&_sid=6bf5e9c6b&_ss=r&variant=48002322825554" title="Crucial T500" aria-label="Banner Ad for Crucial T500 Gen4 SSD">
                    <img id="footer-ad-img" src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/Crucial_T500_Gen4_SSD_Awards_Gallery_Image_5_EN_e17ff127-be2b-4d86-a4a9-28d6bf2ea60a.png?v=1713165613"
                    alt="Upgrade your rig with Crucial T500 Banner Ad" width="275" loading="lazy" >
                  </a>
                </div>
            </div>
</section>
