<nav class="main-carousel__wrapper wrapper-base__template-center">
  <button class="chevron btn-general desktop" onclick="cardSlide('new-arrival-prod-container', 'left')" aria-label="Previous">
    <span class="chevron-left material-symbols-outlined notranslate" id="new-arrival-chevron__left">chevron_left</span>
  </button>

  <section class="wrapper-base__template-column-all-center overflow__hidden">
    <section class="carousel-navigate__mobile">
      <h2 class="peralta-regular carousel-label">New Arrivals</h2>
      <div class="wrapper-base__template-center">
        <button class="chevron btn-general mobile" onclick="cardSlide('new-arrival-prod-container', 'left')" aria-label="Previous">
          <span id="chevron-left__mobile" class="chevron-left material-symbols-outlined notranslate">chevron_left</span>
        </button>

        <button class="chevron btn-general mobile" onclick="cardSlide('new-arrival-prod-container', 'right')" aria-label="Next">
          <span id="chevron-right__mobile" class="chevron-right material-symbols-outlined notranslate">chevron_right</span>
        </button>
      </div>
    </section>

    <ul class="carousel-inner__wrapper wrapper-base__template-align-start car-inner-wrapper__border-top inner-car__wrapper" id="new-arrival-prod-container" aria-live="polite">
      <!-- Carousel items dynamically populated -->
    </ul>

    <a class="car-see-all__btn button" href="/collections/new-arrivals" title="View all New Arrivals" aria-label="View all our New Arrivals">View all</a>
  </section>

  <button class="chevron btn-general desktop" onclick="cardSlide('new-arrival-prod-container', 'right')" aria-label="Next">
    <span class="chevron-right material-symbols-outlined notranslate" id="new-arrival-chevron__right">chevron_right</span>
  </button>
</nav>

{% schema %}
{
  "name": "New Arrivals Carousel",
  "tag": "section",
  "class": "new-arrivals-carousel",
  "settings": [],
  "presets": [
    {
      "name": "New Arrivals Carousel"
    }
  ]
}
{% endschema %}
