<section class="flex-row__all-center flex-colmn__center--mobile box__padding-thick padding-bottom__thick padding-top__narrow ">
  <div id="combine-disc__wrapper" class="margin-right__extremest mg-rg__none--mobile">        
    <h1 class="font-contrail margin-bottom__medium h1-xtreme line-height__standard color__blue"> <span class="color__dark-grey-txt">Why not</span> &nbsp;Refer a Friend?</h1>
    <span class="material-symbols-outlined md-48 notranslate color__dark-grey-txt">group_add</span>
    <p class="text-align__center font-mplus h3-normal line-height__large color__dark-grey-txt">
      You both receive a <span class="color__blue font-fugaz h2-extra">&nbsp;$20 Discount </span> <span class="font-wght__boldest">Voucher</span> on your next order after the invitee makes their first purchase.
      <br><br>
      <div class="flex-row__all-center">
        <span>Check the</span>
        <span class="material-symbols-outlined notranslate rotate-180 mat-google__left-mg color__dark-blue-txt md-19">switch_access_shortcut</span>
      </div>
      <a href="/#smile-home" class="margin-top__narrow btn-inline padding-y-axis__none bdr-radius__normal-extra" aria-label="Get Information about the Rewards & Loyalty Program" title="Start earning Today—Loyalty Rewards & Discounts">
        <p>Rewards Program</p>
        <span class="material-symbols-outlined notranslate mtrl-left__mg--thick">loyalty</span>
      </a>
    </p>
    <div class="h6-normal line-height__thick mg-top__thick-xplus">
      <span>(Minimum Order total of <strong><em>$100 USD Required</em></strong>)</span>
      <span>&nbsp; (Does not stack with other discounts)  <strong>&nbsp;1 use</strong>  / customer.&nbsp;&nbsp;<a class="policy-links link-uline__focus" href="/pages/discount-policy" title="Learn more about Swiftwintek's Referral Program, how it works, and the terms and conditions" aria-label="Discover Swiftwintek's Referral Program, how to earn rewards, and its terms and conditions">Learn More</a></span>
    </div>
  </div>

  <div class="sub-promo__wrapper sub-promo__wrapper--compact flex-column__all-center text-align__center">
    <h1 class="line-height__standard h1-xtra font-mserrat font-wght__boldest color__card-dimgrey-std-txt padding-top__narrow padding-right__thicker border-radius__strongest color__dark-blue-bg pd-none--mobile" style="text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
">
      ... You haven't <span class="color__baby-blue-highlight-txt font-cursive"><em>missed</em></span>, have you?
    </h1>
    <div class="flex-row__all-center">
      <div class="line-height__thicker">
        <a href="#subscribe-now-header" id="sub-today__hlight-txt" class="padding-y-axis__md hover-bg__special font-wght__boldest color__orange-red font-contrail h3-normal" title="Subscribe today and get the latest news and deals from our store" aria-label="Subscribe today and get the latest news and deals from our store">
          Subscribe Today
        </a> 
        <span class="h4-normal font-wght__thin">and get the<br>  
          <span class="color__baby-blue-highlight-txt color__dark-blue-bg-darker padding-top__medium h2-extra">
            <strong><em>best deals on Tech!</em></strong>
          </span>
        </span>
      </div>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0795/4854/7410/files/thank_you_subscribe.jpg?v=1720327670" alt="Thank you for Subscribing letter" width="50" loading="lazy">
  </div>
</section>

{% schema %}
{
  "name": "Referral & Subscribe",
  "tag": "section",
  "class": "refer-subscribe-block",
  "settings": [],
  "presets": [
    {
      "name": "Referral & Subscribe"
    }
  ]
}
{% endschema %}
