{% comment %}
  Swiftwintek - Track Order Section
  Displays a tracking banner, description, and CTA to /pages/track-your-order
{% endcomment %}

<div class="flex-row__all-center gap-8r tracking-background margin-top__medium" style="max-width: 100vw; margin: 0 auto; padding: 4rem 1.5rem;">
  <div class="font-mplus flex-col__all-center gap-2r" style="max-width: 500px; text-align: center;">
      <h2 class="slant-right h1-xtra-plus font-wght__bold-regular font-mplus color__dark-blue-txt flex-row__all-center swtek-box__padding--xtra color__card-dimgrey-std mg__none" style="margin-bottom: 1rem; --page-bg:#0073ff;"><span class="track-title--mplus ltr-spac__inline--soft">Track Your Order</span></h2>
    <p class="h3-normal font-mplus color__dark-blue-categry-hdr ltr-spacing__inline line-height__large font-wght__thin-plus" style="max-width: 600px; margin: 4rem auto;">
      Already placed an order? You can check your delivery status at <strong>any time</strong> using your tracking number. <strong>Fast</strong>, <strong>easy</strong>, <strong>and
      secure</strong>.
    </p>
    <div>
      <a 
        href="/pages/track-your-order"
        class="btn-inline bdr-radius__normal-extra flex-row__all-center gap-1r h4-xtra"
      >
        <span>Go to Tracking Portal</span>
        <span class="material-symbols-outlined notranslate arrow-slide-right">chevron_right</span>
      </a>
      
    </div>
  </div>
  <img
    src="{{ 'Track_your_Order_with_AfterShip.png' | file_url }}"
    alt="Track Your Order - Swiftwintek"
    style="width: 520px; max-width: 100%; height: auto; box-shadow: 0 6px 20px rgba(0,0,0,0.08); margin-bottom: 2rem;"
    >
</div>

{% schema %}
{
  "name": "Track Order Section",
  "tag": "section",
  "class": "section-track-order",
  "settings": [],
  "presets": [
    {
      "name": "Track Order Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
